body,
html,
.wrap {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap header {
  width: 100%;
}

.wrap header img {
  width: 100%;
  height: auto;
}

.wrap section {
  flex: 1;
  overflow-y: auto;
}

.wrap section .swiper-slide {
  display: flex;
  flex-wrap: wrap;
}

.wrap section .swiper-slide dl {
  width: 20%;
}

.wrap section .swiper-slide dl dt img {
  width: 80%;
  height: auto;
}

.wrap section .swiper-slide dl dd {
  text-align: center;
}

.wrap section .content {
  width: 100%;
  height: 80px;
}

.wrap section .content dl {
  display: flex;
}

.wrap section .content dl dt {
  width: 30%;
}

.wrap section .content dl dt img {
  widows: 70%;
  margin-left: 15%;
  height: 60px;
}

.wrap section .content dl dd {
  width: 70%;
}

.wrap section .content dl dd p {
  text-align: center;
}

.wrap section .tp {
  width: 100%;
}

.wrap section .tp p {
  width: 80%;
  margin-left: 10%;
  display: flex;
}

.wrap section .tp p img {
  width: 50%;
  height: 60px;
}

.wrap footer {
  width: 100%;
  height: 44px;
  display: flex;
}

.wrap footer dl {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap footer .ac {
  color: aquamarine;
}
